<div class="secondary one-half -right grid user-content">
  <div class="one-half -left">
    <div class="secondary-item column -first">
      <header>
        <h1>Interdisciplinary <br>Capabilities</h1>
      </header>
      <ul>
        <li>Brand</li>
        <li>Print</li>
        <li>Digital</li>
        <li>Motion</li>
        <li>Experience</li>
      </ul>
    </div>
    <div class="secondary-item column">
      <header class="divider">
        <h1>Services</h1>
      </header>
      <ul>
        <li><%= link_to "Brand Strategy", '/work#brand-strategy' %></li>
        <li><%= link_to "Community Development", '/work#community-development' %></li>
        <li><%= link_to "Digital Experience", '/work#digital-experience' %></li>
        <li><%= link_to "Social Design", '/work#social-design' %></li>
      </ul>
    </div>
  </div>
  <div class="one-half -right">
    <div class="secondary-item column last">
      <header class="divider">
        <h1>Proven <br>Industries</h1>
      </header>
      <ul>
        <li><%= link_to "Art + Design", '/work#art-design' %></li>
        <li><%= link_to "Education", '/work#education' %></li>
        <li><%= link_to "Financial + Investment", '/work#financial-investment' %></li>
        <li><%= link_to "Health + Wellness", '/work#health-wellness' %></li>
        <li><%= link_to "Media + Entertainment", '/work#media-entertainment' %></li>
        <li><%= link_to "Professional Services", '/work#professional-services' %></li>
        <li><%= link_to "Public Sector", '/work#public-sector' %></li>
        <li><%= link_to "Real Estate + Development", '/work#real-estate-development' %></li>
        <li><%= link_to "Retail + Consumer", '/work#retail-consumer' %></li>
      </ul>
    </div>
  </div>
</div>
