<%= content_for :page do %>
<section class="content interior grid">
  <div class="intro one-half -left clearfix">
    <div class="-inner">
      <header class="section-title">
        <h1><%=raw @body_id =~ /^about$/ ? 'Good Design for Good Reason<sup>&trade;</sup>' : @page.title %>.</h1>
      </header>
      <div class="summary">
      <%= raw @page.content_for :body -%>
      </div>
    </div>
  </div>
  
  <% if @body_id =~ /^about$/ %>
    <%= render :partial => 'about_details' -%>
  <% end %>
  
  <% unless @child_pages.blank? %>
    <ul class="child-pages">
      <%= render :partial => 'child_page', :collection => @child_pages -%>
    </ul>
  <% end %>
  
  <% if @body_id =~ /^expertise/ %>
    <%= render :partial => 'capabilities' -%>
  <% end -%>

</section>
<% end -%>
