<div id="contact" class="vcard one-half">
  <h3 class="org">
    Firebelly Design
  </h3>
  <div class="address">
    <a href="https://goo.gl/maps/im4YsDbLnFH2">
      <span class="street-address">2701 W Thomas St</span>
      <span class="city">Chicago</span>
      <span class="region">IL</span>
      <span class="postal-code">60622</span>
    </a>
  </div>
  <p class="email">
    <%= mail_to "info@firebellydesign.com", "info@firebellydesign.com", :encode => "hex", :class => 'email' %>
  </p>
  <p class="tel">
    <span class="telephone">773 489 3200</span>
  </p>
</div>

<div class="grid contact-info one-half">
  <div class="one-half -left">
    <div class="contact-item -first">
      <h3>Employment</h3>
      <p><%= mail_to 'info@firebellydesign.com' %></p>
      <p>Ready to collaborate</p>
    </div>
    <div class="contact-item">
      <h3>GoodNews</h3>
      <%= render '/shared/newsletter_form' %>
      <p>Stay in the loop</p>
    </div>
  </div>
  <div class="one-half">
    <div class="contact-item">
      <h3>Internships</h3>
      <p><%= mail_to 'intern@firebellydesign.com' %></p>
      <p>Eager to learn</p>
    </div>
    <div class="contact-item">
      <h3>Social</h3>
      <%= link_to 'Facebook', 'http://www.facebook.com/firebellydesign' -%><br>
      <%= link_to 'Twitter', 'http://twitter.com/#!/firebellydesign' -%><br>
      <%= link_to 'Flickr', 'http://www.flickr.com/photos/firebellydesign/' -%>
    </div>
  </div>
</div>
