<head>
  <meta charset='<%= Rails.application.config.encoding %>' />
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->
  <title><%= content_for?(:title_override) ? yield(:title_override) : raw(browser_title(yield(:title))) %></title>
  <%= raw %(<link rel="canonical" href="#{request.protocol}#{request.host_with_port}#{@canonical}" />) if @canonical.present? -%>
  <%= csrf_meta_tags if Refinery::Core.authenticity_token_on_frontend -%>

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="clcwIm8zAwhSWBVXOhz9UBllB3mZpdOAXeoL2AaCZQc" />
  <meta http-equiv="cleartype" content="on">
  <link rel="shortcut icon" href="/favicon.png">

  <%= yield :meta %>

  <% set_meta_tags description: @meta.meta_description if @meta.meta_description.present? %>
  <%= display_meta_tags image: @page_image, og: {
      title: :title,
      description: :description,
      image: request.protocol + request.host_with_port + @page_image,
      url: request.url,
    }, fb: {
      app_id: '1675583716017779'
    }
  %>

  <link href='http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'application' %>
  <%= yield :stylesheets %>

  <!--[if (lt IE 9) & (!IEMobile)]>
  <%= javascript_include_tag 'respond.min' %>
  <![endif]-->

  <%= javascript_include_tag 'modernizr-min' -%>

  <%= render '/shared/google_analytics' unless local_request? %>
</head>
