<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
  <%# site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render "/refinery/head" %>
  <body class="<%= @body_class || '' -%>" id="<%= @body_id || '' -%>">
    <%# site_bar -%>
    <header class="site-header clearfix" aria-role="banner">
      <%= render "/refinery/header" -%>
    </header>
    <div id="wrapper" aria-role="main">
      <div id="side">
        <button type="button" class="menu-toggle tcon tcon-no-animate tcon-menu--xcross xcross-open" aria-label="toggle menu">
          <span class="tcon-menu__lines" aria-hidden="true"></span>
          <span class="tcon-visuallyhidden">toggle menu</span>
        </button>

        <%= render "/shared/sitenav" -%>
        
        <aside class="main">
          <%= yield :aside %>
        </aside>
      </div><!-- END #side -->
      <div id="project-nav">
        <button type="button" class="project-nav-toggle tcon tcon-no-animate tcon-menu--xcross xcross-open" aria-label="toggle project nav">
          <span class="tcon-menu__lines" aria-hidden="true"></span>
          <span class="tcon-visuallyhidden">toggle project nav</span>
        </button>
        <%# render "portfolio" -%>
      </div><!-- END #project-nav -->
      <section id='page'>
        <%= yield %>
        <%= yield :page %>
      </section><!-- END #page -->
        <%= yield :grid_page %>
      <footer class="site-footer" aria-role="contentinfo">
        <%= render "/refinery/footer" -%>
      </footer>
    </div> <!-- /#wrapper -->
    <%= render "/refinery/javascripts" %>
  </body>
</html>
